
.trains {
    margin-top: 20px;

    &__title {
        font-size: 24px;
    }

    &__calendar {
        margin-top: 20px;
    }

    &__add {
        display: block;
        margin-top: 10px;
        color: black;
    }
}


.trainsForm {
    
}